



.topcontainer {
    background-color:#1f2937;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    

}


.links {
    display: flex;
    gap: 100px;
    margin-left: 250px;
    font-size: 16px;
    align-self: center;
}
.logo {
    
    justify-content: flex-start;
    margin-left: 32px;

}
.body {
    display: flex;
    flex: 1;


}

.uppercontainer {
    background-color: #1f2937;
    display: flex;
    flex: 1;
flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 130px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif



    
}


.maintext {
    font-size: 48px;
    color: #F9FAF8;
    max-width: 900px;
}



.secondarytext {

    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    max-width: 800px;
    flex: 1;
}



.image {
    position: absolute;
    justify-content: flex-start;
align-self: flex-end;
margin-left: 120px;
margin-bottom: 60px;
right: 150px;
top: 220px;

}

.entiretopcontainer {
    background-color:#1f2937;
    

}


.button {
    position: absolute;
    font-size: 20px;
    top: 560px;
    left: 140px;
    border-radius: 5px;
    padding:3px;
    min-height:20px; 
    min-width: 100px;
    color: black;
    background-color: skyblue;
    border-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button:hover {
    background-color: white;
    transition: 0.7s;
}

.secondheader {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    align-self: center;
}

.imagetext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 310px;
    align-self: center;
}

img {
    outline: solid skyblue;
    border-radius: 2px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.bottomsection {
    height: 500px;
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
}

.middlecontainer {
    height: 500px;
}


.quote {
    display: flex;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    max-width: 780px;
}

.quoteauthor {
    display: flex;
    align-self: center;
    font-size: 20px;
}

.bottomad {
    display: flex;
    justify-content: center;
    justify-content: center;

    margin-left: 450px;
    margin-top: 100px;
    background-color: skyblue;
    max-width: 1000px;
    margin-bottom: 100px;
    border-radius: 10px;


}

.buttonad {
   position: absolute;
   right: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border-radius: 5px;
   padding:3px;
   min-height:20px; 
   min-width: 100px;
   color: black;
   background-color: skyblue;
   border-color: black;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
   


.adtextheader {
    height: 100px;
    margin-right: 450px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


h4 {
    color: white;
    font-size: 20px;
}